%h1 Search for tweets

= form_for @search, url: search_tweets_path, method: :post do |f|
  #error_explanation
    - if @search.errors.one?
      %b Error:
      = @search.errors.full_messages[0]
    - elsif @search.errors.any? # >= 2 errors
      %b Error:
      %ul
        - @search.errors.full_messages.each do |msg|
          %li= msg

  .field_group
    .field
      = f.text_field :query
    .actions
      = f.submit "Search for tweets!"

#result
  - if @tweets.any?
    %ul
      - @tweets.each do |tweet|
        %li
          %b=tweet.user.name
          (@#{tweet.user.screen_name}) tweeted on #{tweet.created_at}:
          %p=tweet.full_text

